



/*-- Reset Code --*/

	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
	ol,ul{list-style:none;padding:0;margin:0;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
	table{border-collapse:collapse;border-spacing:0;}
	a{text-decoration:none;}
	.txt-rt{text-align:right;}
	.txt-lt{text-align:left;}
	.txt-center{text-align:center;}
	.float-rt{float:right;}
	.float-lt{float:left;}
	.clear{clear:both;}
	.pos-relative{position:relative;}
	.pos-absolute{position:absolute;}
	.vertical-base{vertical-align:baseline;}
	.vertical-top{vertical-align:top;}
	.underline{	padding-bottom:5px;	border-bottom:1px solid #eee;margin:0 0 20px 0;}
	nav.vertical ul li{display:block;}
	nav.horizontal ul li{display: inline-block;}
	img{max-width:100%;}

/*-- Reset Code --*/



/*-- Index-Page-Styling --*/

body {

	background: url("../../images/login/backimg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: #FFF;
	 'Quicksand', sans-serif;
	text-align: center;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}

input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h1 {
    font-size: 45px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 7px;
    margin: 65px auto;
}

.w3layoutscontaineragileits {
    width: 30%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
}

h2 {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
}

input[type="text"], input[type="password"], input[type="username"]{
	width: 84%;
	padding: 15px 10px 15px;
	font-size: 14px;
	background: transparent;
	border: 2px solid #f4703a;
	outline: none;
	margin-bottom: 26px;
	color: #fff;
	 'Quicksand', sans-serif;
}
input[type="text"]{
	background: url("../../images/login/user.png") no-repeat 382px 11px;
	background-size: 25px;
}
input[type="username"] {
	background: url("../../images/login/e-mail.png") no-repeat 382px 11px;
	background-size: 25px;
}

input[type="password"] {
	background: url("../../images/login/password.png") no-repeat 382px 11px;
	background-size: 25px;
}

ul.agileinfotickwthree {
	list-style: none;
	display: inline-block;
	width: 100%;
	margin-bottom: 40px;
	text-align: left;
	padding-left: 10px;
}

ul.agileinfotickwthree li input[type="checkbox"] {
	display: none;
}

ul.agileinfotickwthree li input[type="checkbox"]+label {
	position: relative;
	padding-left: 50px;
	border: #F0F8FF;
	display: inline-block;
	font-size: 15px;
    color: #fff;
}
ul.agileinfotickwthree a {
    float: right;
    margin-right: 40px;
    color: #fff;
    font-size: 15px;
}
ul.agileinfotickwthree a:hover {
    color: #d2a3cd;
}
ul.agileinfotickwthree li input[type="checkbox"]+label span:first-child {
	width: 15px;
	height: 15px;
	display: inline-block;
	border: 2px solid #d2a3cd;
	position: absolute;
	top: -1px;
	left: 20px;
	bottom: 4px;
}

ul.agileinfotickwthree li input[type="checkbox"]:checked+label span:first-child:before {
	content: "";
	background: url(../../images/login/tick.png)no-repeat;
	position: absolute;
	left: 3px;
	top: 3px;
	font-size: 10px;
	width: 10px;
	height: 10px;
}

input[type="submit"] {
	font-size: 16px;
	padding: 10px 65px;
	background-color: #800080;
	color: #FFF;
	border: none;
	border-radius: 0px;
	outline: none;
	float:none;
	cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #800080;
}

.aitssendbuttonw3ls p {
    text-align: center;
    margin-top: 40px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.aitssendbuttonw3ls p a {
    color: #fff;
    font-weight: 600;
    padding: 8px 20px;
    border: 1px solid #fff;
}

.aitssendbuttonw3ls p a span {
	font-size: 18px;
}

.aitssendbuttonw3ls p a:hover {
	color: #f4703a;
    border: 1px solid #800080;
}

::-webkit-input-placeholder {
	color: #FFF;
}

::-moz-placeholder {
	color: #FFF;
}

::-moz-placeholder {
	color: #FFF;
}

::-ms-input-placeholder {
	color: #FFF;
}

.w3footeragile {
	margin: 100px 0px 20px;
}

.w3footeragile p a {
	color: #000;
	font-weight:700;
}

.w3footeragile p {
    letter-spacing: 2px;
    color: #fff;
}

.w3footeragile p a:hover {
	color: #fff;
}

/*-- Index-Page-Styling --*/

/* pop-up-box-styling */

.contact-form1 {
    padding: 60px 40px;
    background: #f4703a;
}
#small-dialog, #small-dialog1, #small-dialog2 {
    max-width: 555px;
}
label.checkbox {
    display: block;
    margin: 5px 0px 0px 23px;
    text-align: left;
}




